<div [formGroup]="form" class="ui-grid" style="height:400px">

  <div class="ui-g-12 ui-md-4">
    <p-carousel [value]="images" orientation="vertical" [page]="pageNumber"
                (onPage)="pageNumber=$event.page"
                verticalViewPortHeight="275px"
                circular="true" [numVisible]="1">
      <ng-template let-image pTemplate="item">
        <div style="padding-left: 35px; padding-top: 10px">
          <div class="p-grid p-nogutter">
            <div class="p-col-12">
              <img [src]="'http://localhost:3000/' + image" class="img"/>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="ui-g-12 ui-g-offset-1 ui-md-7 vl">
    <div class="center-flex">

      <p-fileUpload name="image" (onUpload)="updateImage($event)"
                    [url]="uploadUrl"></p-fileUpload>

    </div>


  </div>

  <div class="ui-g-12 ui-md-12" style="text-align: right">
    <button pButton label="OK" (click)="updateItemImage()"></button>

  </div>
</div>

