<div class="card no-margin" [formGroup]="characterForm">
  <h1>Character Details</h1>
  <div class="ui-g form-group">

    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-2">
        <label>Character Name</label>
      </div>
      <div class="ui-g-12 ui-md-10">
        <p-inplace closable="closable" [active]="editMode" [closeIcon]="'pi pi-check'">
                <span pInplaceDisplay>
                  {{name.value}}
                </span>

          <span pInplaceContent>
                  <input type="text" formControlName="name" pInputText>
                </span>
        </p-inplace>
      </div>
    </div>


    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-2">
        <label>Description</label>
      </div>
      <div class="ui-g-12 ui-md-10">
        <p-inplace closable="closable" [active]="editMode" [closeIcon]="'pi pi-check'">
                <span pInplaceDisplay>
                  {{description.value}}
                </span>

          <span pInplaceContent>
                  <textarea [rows]="3" [cols]="30" pInputTextarea formControlName="description"></textarea>
                </span>
        </p-inplace>


      </div>
    </div>

    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-2">
        <label>Character Age</label>
      </div>
      <div class="ui-g-12 ui-md-2">
        <p-inplace closable="closable" [active]="editMode" [closeIcon]="'pi pi-check'">
                <span pInplaceDisplay>
                  {{age.value}}
                </span>

          <span pInplaceContent>
                  <input type="number" formControlName="age" [min]="5" [step]="5" pInputText>
          </span>
        </p-inplace>
      </div>
    </div>


    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-2">
        <label>Battle Power</label>
      </div>
      <div class="ui-g-12 ui-md-2">
        <p-inplace closable="closable" [active]="editMode" [closeIcon]="'pi pi-check'">
                <span pInplaceDisplay>
                  {{battlePower.value}}
                </span>

          <span pInplaceContent>
                  <input type="number" formControlName="battlePower" [min]="5" [step]="5" pInputText>
          </span>
        </p-inplace>
      </div>
    </div>


    <div class="center">
      <span>
        <button pButton type="button" label="Save" class="ui-button-rounded p-align-center"
                (click)="saveCharacterData()">
        </button>
        <button *ngIf="character?._id != null"
                pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger p-align-center"
                (click)="deleteCharacter()">
        </button>
      </span>
    </div>


  </div>
</div>

